In [21]:
import pandas as pd
from census import Census
c = Census("f70721eba51f14bac9808503e8261b3be5884396")

In [30]:
xwalk = pd.read_csv("GeogXWalk2010_Blocks_MAZ_TAZ.csv", dtype={'GEOID10': 'string'})
xwalk.head()

,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,MAZ_ORIGINAL,TAZ_ORIGINAL
0,6,1,410000,2024,060014100002024,317525,300204
1,6,1,407300,2017,060014073002017,317595,300816
2,6,1,408100,2011,060014081002011,332912,300839
3,6,1,401000,2002,060014010002002,310004,300716
4,6,1,406100,1005,060014061001005,312269,301016

In [47]:
df = pd.DataFrame().from_dict(
    c.sf1.get('H00010001', geo={'for': 'block:*',
              'in': 'state:06 county:001 tract:400100'}))
df["fips"] = df.state + df.county + df.tract + df.block
df.rename(columns={'H00010001': 'Housing Units'}, inplace=True)
df['Housing Units'].astype('float').sum()

1396.0